html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0) !important;
}

input[type="number"] {
  box-sizing: border-box;
  width: 100%;
  height: calc(3em + 2px);
  margin: 0 0 1em;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1.5em;
  background: #fff;
  resize: none;
  outline: none;
}
input[type="number"][required]:focus {
  border-color: #000000;
}
input[type="number"][required]:focus + label[placeholder]:before {
  color: #000000;
}
input[type="number"][required]:focus + label[placeholder]:before,
input[type="number"][required]:valid + label[placeholder]:before {
  transition-duration: 0.2s;
  transform: translate(0, -1.5em) scale(0.9, 0.9);
}
input[type="number"][required]:invalid + label[placeholder][alt]:before {
  content: attr(alt);
}
input[type="number"][required] + label[placeholder] {
  display: block;
  pointer-events: none;
  line-height: 1.25em;
  margin-top: calc(-3em - 2px);
  margin-bottom: calc((3em - 1em) + 2px);
}
input[type="number"][required] + label[placeholder]:before {
  content: attr(placeholder);
  display: inline-block;
  margin: 0 calc(1em + 2px);
  padding: 0 2px;
  color: #898989;
  white-space: nowrap;
  transition: 0.3s ease-in-out;
  background-image: linear-gradient(to bottom, #fff, #fff);
  background-size: 100% 5px;
  background-repeat: no-repeat;
  background-position: center;
}

/*button */
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
@media only screen and (orientation:portrait){
  .conbut {
    margin-left: 5%;
  }
}


/* colored text */
.bltext {
  animation: pulse2 2s infinite;
}
@keyframes pulse2 {
  0% {
    color: #08F7FE;
  }
  25% {
     color: #08F7FE;
  }
  50% {
    color: #09FBD3;
  }
  75% {
    color: #FE53BB;
  }
  100% {
    color: #F5D300;
  }
}